<!DOCTYPE html>
<head>
    <title></title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <script data-main="./main.js" src="http://requirejs.org/docs/release/2.1.20/comments/require.js"></script>
</head>
<body>

<div class="container">
    <button id="toJSON" class="btn btn-primary">toJSON</button></br></br>

    <div class="hero-unit">
        <div id="rocket"></div>
    </div></br>
    JSON:
    <div id="json"></div>


</div>

<script type="text/template" id="viewRocket">
    Name:
    <span class="name" contenteditable="true"><%- name %></span>
    <div class="size form-horizontal">

        <button data-rel="-10" class="changeSize btn btn-small btn-primary">-</button>

        <input class="size" type="number" value="<%- size %>"/>

        <button data-rel="10" class="changeSize btn btn-small btn-success">+</button>

        Remove
        <button class="deleteRow btn btn-small btn-danger"><i class="icon-remove icon-white"/></button>
    </div>
    Description:
    <span class="description" contenteditable="true"><%- description %></span>
</script>

</body>
</html>